<div>
  <div class="my_body lg:flex pad sm:px-4 lg:px-24 md:px-14  ">
      <!-- <div class="w-full   w-[80%]">fhfh</div> -->
      <div class=" mt-20 lg:w-1/2 h-fit p-2">
        <div class="poppin font-normal">
          <p class="text-4xl h-20 w-full lg:!w-[80%] mb-4 font-bold young ">Receive large files
            from <span id="alteText" class="text-blue-600 font-bold neon"></span></p>
            <div w2-include-html="./qrcode.html"></div> 
          <p class="lg:text-lg mt-4">No size limits. No login required.</p>
          <p class="lg:text-lg">Web visitors drag&drop files and you get an email.</p>
          <br>
          <p class="lg:text-lg">The data are securely saved in your Google Drive.</p>
        </div>
        <br>
        <br>
        <div class="grid lg:grid-cols-2 w-[90%]">
          <div class=" flex items-center  justify-left">
            <button onclick="create()" id="signup_button"
              class="btn !p-2 h-10 lg:w-[95%] w-fit bg-primary font-medium text-white hover:bg-primary-focus focus:bg-primary-focus active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:focus:bg-accent-focus dark:active:bg-accent/90">
              CREATE AN UPLOADER
            </button>
          </div>
          <div class="p-2 w-full flex items-left justify-left ">
            WORKS WITH GOOGLE DRIVE 
          </div>
        </div>
      </div>
      <div id="img-holder" class="p-2 lg:w-1/2 lg:ml-4 lg:h-[500PX] flex justify-center items-center">
        <img id="displayedImage" class="rounded-md image-resize lg:!h-[470px] h-fit object-cover  object-center " />
      </div>
    </div>


  </div>

  <!-- <script>

    // this is one way you can call an external script file inside an include element
    // if you dont like this method, you can write th script directly inside of here

    var script = document.createElement('script');
    script.src = "./js/home/text-image.js"; // Replace with the URL of the external JavaScript file
    document.body.appendChild(script);

  </script> -->
  <script src="./js/home/text-image.js"></script>
