<div x-data="{notificationText: 'hello there'}">
  <div
    x-data="{ onShowNoti: () => { $notification({ content:window.content,  position: window.position, duration: window.duration }) } }"
    @click
  >
    <p id="allNotifications" x-on:click="onShowNoti()"></p>
  </div>
</div>

<template id="show_success">
  <div class="flex w-full bg-green-500 bg-opacity-30 shadow-md p-1 rounded-sm">
    <div
      class="w-8 h-8 rounded-full p-2 flex justify-center items-center bg-success text-white"
    >
      <i class="bi bi-patch-check text-white"></i>
    </div>
    <div
      x-text="window.noti"
      class="flex roboto max-w-lg text-[#121212] text-xs sm:text-sm overflow-hidden rounded-md p-2 font-normal"
    >
      NOTI ERROR
    </div>
  </div>
</template>

<template id="show_error">
  <div
    class="flex w-full bg-white shadow-md p-1 rounded-sm border border-red-200"
  >
    <div
      class="w-8 h-8 rounded-full p-2 flex justify-center items-center bg-error/10 text-error"
    >
      <i class="bi bi-exclamation-triangle-fill text-error"></i>
    </div>
    <div
      x-text="window.noti"
      class="flex roboto max-w-lg text-[#121212] text-xs sm:text-sm overflow-hidden rounded-md p-2 font-normal"
    >
      NOTI ERROR
    </div>
  </div>
</template>

<template id="show_warning">
  <div
    x-text="window.noti"
    class="flex max-w-lg text-[#121212] text-xs sm:text-sm overflow-hidden rounded-md p-2 bg-warning/10 text-warning border border-warning shadow-sm font-normal"
  >
    NOTI ERROR
  </div>
</template>

<template id="show_whiteCard">
  <div class="flex w-full bg-white shadow-md p-1 rounded-sm border">
    <div
      class="w-8 h-8 rounded-full p-2 flex justify-center items-center bg-success/10 text-success"
    >
      <i class="bi bi-patch-check text-success"></i>
    </div>
    <div
      x-text="window.noti"
      class="flex roboto max-w-lg text-[#121212] text-xs sm:text-sm overflow-hidden rounded-md p-2 font-normal"
    >
      NOTI ERROR
    </div>
  </div>
</template>

<template id="show_redCard">
  <div
    class="flex w-full bg-white shadow-md p-1 rounded-sm border border-red-200"
  >
    <div
      class="w-8 h-8 rounded-full p-2 flex justify-center items-center bg-error/10 text-error"
    >
      <i class="bi bi-exclamation-triangle-fill text-error"></i>
    </div>
    <div
      x-text="window.noti"
      class="flex roboto max-w-lg text-[#121212] text-xs sm:text-sm overflow-hidden rounded-md p-2 font-normal"
    >
      NOTI ERROR
    </div>
  </div>
</template>

<template id="show_whiteSlateCard">
  <div class="flex w-full bg-white shadow-sm p-1 rounded-sm border">
    <div
      class="w-8 h-8 rounded-full p-2 flex justify-center items-center bg-success/10 text-success"
    >
      <i class="bi bi-patch-check text-success"></i>
    </div>
    <div
      x-text="window.noti"
      class="flex max-w-lg text-black-cus text-xs sm:text-sm overflow-hidden rounded-md p-2 bg-white font-normal"
    >
      NOTI ERROR
    </div>
  </div>
</template>
<script>
  function showNoti(variant, message, duration) {
    window.variant = `${variant}`;
    window.noti = `${message}`;
    window.duration = duration;
    window.position = "right-bottom";
    let noti = document.querySelector("#allNotifications");

    if (variant == "error") {
      window.content = "#show_error";
    }
    if (variant == "warning") {
      window.content = "#show_warning";
    }
    if (variant == "success") {
      window.content = "#show_success";
    }
    if (variant == "white") {
      window.position = "center-top";
      window.content = "#show_whiteCard";
    }
    if (variant == "white-slate") {
      window.position = "center-top";
      window.content = "#show_whiteSlateCard";
    }
    if (variant == "red-slate") {
      window.position = "center-top";
      window.content = "#show_redCard";
    }
    noti.click();
  }
  /* how to call notification
  setTimeout(function(){
      showNoti('primary', 'how are you', 5000)
  }, 3000)
  */
</script>
