<div>
  <div
    class="mt-4 grid grid-cols-12 gap-4 px-[var(--margin-x)] transition-all duration-[.25s] sm:mt-5 sm:gap-5 lg:gap-6"
  >
    <div class="col-span-12 lg:col-span-12">
      <div
        class="py-1 px-3 dark:border-navy-450 flex space-x-1 items-center justify-between"
      >
        <div
          onclick="backToDashboard()"
          class="bg-slate-150 px-2 py-1 rounded text-xs+ flex space-x-1 w-fit tracking-wide font-light hover:text-black cursor-pointer dark:text-accent-light"
        >
          <span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              class="bi bi-arrow-left"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"
              />
            </svg>
          </span>
          <span>Back</span>
        </div>
        <div
          class="flex font-light space-x-1 sm:space-x-6 justify-end w-full h-fit text-base text-primary"
        >
          <button
            onclick="downloadWord()"
            x-tooltip.placement.bottom="'Download as word document'"
            class="hidden text-xs+ px-2 py-1 sm:flex justify-center items-center w-fit h-fit font-medium bg-slate-150 shadow-sm hover:bg-slate-200 focus:bg-info/20 active:bg-info/25"
          >
            doc
          </button>
          <button
            onclick="downloadPDF()"
            x-tooltip.placement.bottom="'Download as pdf'"
            class="hidden text-xs+ px-2 py-1 w-fit h-fit sm:flex justify-center items-center font-medium bg-slate-150 shadow-sm hover:bg-slate-200 focus:bg-info/20 active:bg-secondary/90"
          >
            pdf
          </button>

          <button
            onclick="downloadExcel('submissionsTable',)"
            x-tooltip.placement.bottom="'Donwload as excell'"
            class="hidden text-xs+ py-1 w-fit h-fit sm:flex justify-center items-center px-2.5 font-medium bg-slate-150 shadow-sm hover:bg-slate-200 focus:bg-info/20 active:bg-info/25"
          >
            xls
          </button>
          <button
            onclick="downloadCSV()"
            x-tooltip.placement.bottom="'Download as csv'"
            class="hidden text-xs+ py-1 w-fit h-fit sm:flex justify-center items-center px-2.5 font-medium bg-slate-150 shadow-sm hover:bg-slate-200 focus:bg-info/20 active:bg-info/25"
          >
            csv
          </button>

          <div
            class="sm:hidden flex rounded-full w-10 h-10 justify-center items-center"
          >
            <div
              x-data="usePopper({placement:'bottom-end',offset:4})"
              @click.outside="if(isShowPopper) isShowPopper = false"
              class="inline-flex"
            >
              <button
                x-ref="popperRef"
                @click="isShowPopper = !isShowPopper"
                class="btn h-9 w-9 rounded-full p-0 font-medium text-info hover:bg-slate-150 focus:bg-info/20 active:bg-info/25"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="h-4.5 w-4.5"
                  fill="none"
                  viewbox="0 0 24 24"
                  stroke="currentColor"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z"
                  />
                </svg>
              </button>
              <div
                x-ref="popperRoot"
                class="popper-root"
                :class="isShowPopper && 'show'"
              >
                <div
                  class="popper-box rounded-md border border-slate-150 text-sm bg-white py-1.5 font-inter dark:border-navy-500 dark:bg-navy-700"
                >
                  <ul>
                    <li>
                      <a
                        href="#"
                        class="flex h-8 items-center px-3 pr-8 font-normal tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100"
                        >Download .docx</a
                      >
                    </li>
                    <li onclick="downloadExcel()">
                      <a
                        href="#"
                        class="flex h-8 items-center px-3 pr-8 font-normal tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100"
                      >
                        Download .xls
                      </a>
                    </li>
                    <li onclick="downloadCSV()">
                      <a
                        href="#"
                        class="flex h-8 items-center px-3 pr-8 font-normal tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100"
                      >
                        Download .csv
                      </a>
                    </li>
                    <li onclick="downloadPDF()">
                      <a
                        href="#"
                        class="flex h-8 items-center px-3 pr-8 font-normal tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100"
                      >
                        Download .pdf
                      </a>
                    </li>
                    <li onclick="downloadWord()">
                      <a
                        href="#"
                        class="flex h-8 items-center px-3 pr-8 font-normal tracking-wide outline-none transition-all hover:bg-slate-100 hover:text-slate-800 focus:bg-slate-100 focus:text-slate-800 dark:hover:bg-navy-600 dark:hover:text-navy-100 dark:focus:bg-navy-600 dark:focus:text-navy-100"
                      >
                        Download .doc
                      </a>
                    </li>
                  </ul>
                  <div class="my-1 h-px bg-slate-150 dark:bg-navy-500"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- reduce span to encourage split screen -->

      <div class="card shadow-none mt-3">
        <div class="px-3 p-4 flex items-center justify-between">
          <h2
            class="text-base font-medium tracking-wide text-slate-700 line-clamp-1 dark:text-navy-100"
          >
            Submissions For <span class="submission_for"></span>
          </h2>
        </div>
        <div
          class="is-scrollbar-hidden min-w-full max-h-96 overflow-x-auto show_submissions_table"
        >
          <table
            id="submissionsTable"
            class="w-full text-left poppin !text-black"
          >
            <thead>
              <tr id="display_submission_head"></tr>
            </thead>
            <tbody id="displaySubmit"></tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  window.jsPDF = window.jspdf.jsPDF;
</script>
<script src="../js/dash/submissions.js"></script>
