@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,400;1,500;1,600;1,700&family=Poppins:wght@300&family=Roboto:wght@100&family=Slabo+27px&family=Tilt+Neon&family=Young+Serif&display=swap');
.jaka{
    font-family: 'Plus Jakarta Sans', sans-serif;
}
.poppin{
    font-family: 'Poppins', sans-serif;
}
.roboto{
    font-family: 'Roboto', sans-serif;
}
.slabo{
    font-family: 'Slabo 27px', serif; 
}
.neon{
    font-family: 'Tilt Neon', cursive;
}
.young{
    font-family: 'Young Serif', serif;
}
:root {
    --main: 240px
}

.my_body{
    z-index: 19;
    margin-top:61px!important;
}
#root{
  background-color: #f6f8fc!important;
}
@media (max-width:639px) {
    .pad {
       padding-left: 16px;
       padding-right: 16px;
    }
}
@media (max-width:768) {
   .calcimage{
        height:300px;
   } 
}

#alteText {
    white-space: pre;
    /* font-family: monospace; */
}

/* .loading-dots {
    display: inline-block;
    animation: loading-dots 1s infinite steps(4, start) 0s;
} */

@keyframes loading-dots {
    0%, 100% {
        content: '';
    }
    25% {
        content: '.';
    }
    50% {
        content: '..';
    }
    75% {
        content: '...';
    }
}

button[disabled]::after {
    content: 'Loading';
    animation: loading-dots 2.5s infinite steps(4, start) 0s;
}

.w2-animate-fading{animation:fading 5s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}

@keyframes opacityAnimation {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .animated-image {
    animation-name: opacityAnimation;
    animation-duration: 3.5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  


  /* .first-letter-capital {
    text-transform: capitalize;
  } */
  
  /* Adjust the style for the first letter inside parentheses */
  .first-letter-capital:first-letter {
    text-transform: capitalize;
  }
  


  th {
    background-color: #f2f2f2;
    position: sticky;
    top: 0;
    z-index: 2;
  }

  thead th {
    position: sticky;
    top: 0;
    background-color: #f2f2f2;
    z-index: 2;
  }

  tbody th {
    position: sticky;
    left: 0;
    background-color: #f2f2f2;
    z-index: 1;
  }


