<section
  class="p-2 px-5 mt-5"
  x-data="{showModalError:false, chooseBackupDrive:false}"
>
  <div class="loader_skeleton block flex flex-col">
    <div
      class="skeleton animate-wave h-48 w-full rounded-lg bg-slate-300 dark:bg-navy-500"
    ></div>
    <div class="flex space-x-5 py-4">
      <div
        class="skeleton animate-wave h-16 w-16 rounded-full bg-slate-150 dark:bg-navy-500"
      ></div>
      <div class="flex flex-1 flex-col justify-between py-2">
        <div
          class="skeleton animate-wave h-3 w-10/12 rounded bg-slate-150 dark:bg-navy-500"
        ></div>
        <div
          class="skeleton animate-wave h-6 w-full rounded bg-slate-150 dark:bg-navy-500"
        ></div>
      </div>
    </div>
  </div>

  <div id="integrate_zoom" class="hidden">
    <div
      class="mt-4 flex items-center justify-center gap-4 px-[var(--margin-x)] transition-all duration-[.25s] sm:mt-5"
      style="height: 85vh"
    >
      <div class="hidden"><%- include('./error.ejs') %></div>
      <div class="hidden"><%- include('./backupPrompt.ejs') %></div>

      <div class="p-5 grid w-full card shadow h-fit">
        <div class="text-center">
          Backup all your zoom recordings on our drive and access them easily
          anytime.
        </div>
        <div class="flex justify-center items-center space-x-2">
          <button
            class="btn mt-2 hidden space-x-2 bg-primary font-medium bg-primary px-4 py-3 text-white hover:bg-primary-focus dark:bg-accent sm:px-3"
          >
            <i class="bi bi-plus-lg"></i>
            <span>Start meet</span>
          </button>
          <button
            onclick="integrateZoom()"
            class="btn mt-2 space-x-2 font-medium bg-secondary/10 py-3 px-4 text-secondary hover:bg-secondary/20 dark:bg-secondary-light/15 dark:text-secondary-light sm:px-3"
          >
            <i class="bi bi-plus-lg"></i>
            <span>Integrate Recordings</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div id="display_zoom_table" class="hidden">
    <div class="py-4 flex">
      <div class="text-3xl text-blue-600 font-semibold z_r">Zoom Recordings</div>
    </div>
    <div
      class="space-x-1 mb-5 py-1 flex justify-start items-center text-black w-full"
    >
      <!-- <button
        id="getSelectedData"
        class="mt-4 bg-blue-500 text-white py-2 px-4 rounded"
      >
        Get Selected Data
      </button> -->
      <% if(data.backup_in_progress != true){ %>
      <button
        id="backup_btn"
        @click="chooseBackupDrive = true"
        class="text-sm relative border shadow-none inline-block px-2 py-1 text-gray-900 bg-gradient-to-tr from-gray-300 to-gray-400 rounded-md hover:from-gray-400 hover:to-gray-300 focus:from-slate-500 focus:to-slate-300 focus:border-2 focus:border-gray-600"
      >
        <span
          class="absolute inset-0 border-1 border-[#f6f8fc] border-slat-300 rounded-md"
        ></span>
        Backup
      </button>
      <% }else{ %>
      <button
        id="backingup_btn"
        @click="chooseBackupDrive = true"
        disabled="true"
        class="hidden w-40 text-sm relative border shadow-none inline-block px-2 py-1 text-gray-900 opacity-30 bg-gray-400 rounded-md hover:from-gray-400 hover:to-gray-300 focus:from-slate-500 focus:to-slate-300 focus:border-2 focus:border-gray-600"
      >
        <span
          class="absolute inset-0 border-1 border-[#f6f8fc] border-slat-300 rounded-md"
        ></span>
        Backing up
      </button>
      <% } %>
      <button
        onclick="refresh('refresh')"
        class="relative border shadow-none inline-block px-2 py-1.5 text-gray-900 bg-gradient-to-tr from-gray-300 to-gray-400 rounded-md hover:from-gray-400 hover:to-gray-300 focus:from-slate-500 focus:to-slate-300 focus:border-2 focus:border-gray-600"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          class="bi bi-arrow-clockwise"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2z"
          />
          <path
            d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466"
          />
        </svg>
      </button>

      <div class="text-xs sm:text-sm">
        Total size: <span class="sizeMGB"> 0</span>
        <span class="text-xs font-light text-slate-400"> | </span>
      </div>
      <!-- <div>Total files: <span class="totFiles"> 0</span></div> -->
      <div class="hidden backingUpFileCount text-xs sm:text-sm">
        Backing up: <span class="bkupFiles"></span>/
        <span class="totFiles">0</span>
      </div>
    </div>
    <div class="bg-white min-w-full h-auto show_submissions_table">
      <div class="h-fit relative backup_progress hidden">
        <div
          id="floatingDiv"
          class="floating-div absolute top-[-20px] left-0 text-slate-800 w-6 h-6 rounded-full flex items-center justify-center"
        ></div>
        <div
          class="progress h-2 bg-secondary/15 dark:bg-secondary-light/25 relative"
        >
          <div
            id="progressBar"
            class="is-active absolute left-0 h-full overflow-hidden rounded-full bg-secondary"
          ></div>
        </div>
      </div>
      <label class="flex w-fit relative hidden" id="filter-select-wrapper">
       
        <select id="filterSelect" class="bg-slate-150 placeholder:text-slate-700 form-input peer focus:ring  ring-primary/50 pl-9 py-2 px-2">
            <option value="">Filter</option>
            <option value="Backup pending">Backup pending</option>
            <option value="Backup completed">Backup completed</option>
            <option value="Backup in progress">Backup in progress</option>
        </select>
        <span
        class="pointer-events-none absolute flex h-full w-10 items-center justify-center text-slate-700 peer-focus:text-primary dark:text-navy-300 dark:peer-focus:text-accent"
      >
        <i class="bi bi-funnel text-slate-700 peer-focus:text-primary transition-colors duration-200"></i>
        </span>
      </label>
      <table
        id="zoom_table"
        class="allTable hover order-column row-border bg-tranparent w-full text-left poppin is-sc"
      >
        <thead class="!bg-white">
          <tr>
            <th
              class="rounded-tl-lg whitespace-nowrap bg-slate-150 px-4 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
            >
              <input
                id="selectAllCheckbox"
                class="form-checkbox is-basic bg-slate-100 h-4 w-4 rounded border-slate-400/70 checked:bg-primary checked:border-primary hover:border-primary focus:border-primary dark:border-navy-400 dark:checked:bg-accent dark:checked:border-accent dark:hover:border-accent dark:focus:border-accent"
                type="checkbox"
              />
            </th>
            <th
              class="whitespace-nowrap bg-slate-150 px-4 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
            >
              S/N
            </th>
            <th
              class="whitespace-normal bg-slate-150 px-4 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
            >
              id
            </th>
            <th
              class="min-w-fit whitespace-nowrap bg-slate-150 px-4 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
            >
              Status
            </th>
            <th
              class="hidden whitespace-normal bg-slate-150 px-4 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
            >
              count
            </th>
            <th
              class="min-w-fit whitespace-nowrap bg-slate-150 px-4 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
            >
              Topic
            </th>
            <th
              class="hidden whitespace-nowrap bg-slate-150 px-4 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
            >
              UUID
            </th>
            <th
              class="min-w-fit whitespace-nowrap bg-slate-150 px-4 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
            >
              Start Time
            </th>
            <th
              class="min-w-fit whitespace-normal bg-slate-150 px-4 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
            >
              files
            </th>
            <th
              class="min-w-fit whitespace-normal bg-slate-150 px-4 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
            >
              raw_size
            </th>

            <th
              class="whitespace-normal bg-slate-150 px-4 py-3 font-semibold capitalize text-slate-800 dark:bg-navy-800 dark:text-navy-100 lg:px-5"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody class="bg-white" id="zoom_table_content"></tbody>
      </table>
    </div>
    <div class="record_skeleton bg-white h-fit -mt-1.5 p-2">
      <div
        class="h-1.5 mt-1.5 skeleton animate-wave rounded-md w-full bg-slate-300 dark:bg-navy-500"
      ></div>
    </div>
    <div
      class="hidden bg-white flex flex-col justify-between space-y-4 px-4 py-4 sm:flex-row sm:items-center sm:space-y-0 sm:px-5"
    >
      <div class="text-xs+">1 - 10 of 10 entries</div>
    </div>
  </div>
</section>

<div x-data="{firstzoommodal:false}">
  <button
    id="firstButtonModal"
    @click="firstzoommodal = true"
    class="btn hidden bg-slate-150 font-medium text-slate-800 hover:bg-slate-200 focus:bg-slate-200 active:bg-slate-200/80 dark:bg-navy-500 dark:text-navy-50 dark:hover:bg-navy-450 dark:focus:bg-navy-450 dark:active:bg-navy-450/90"
  >
    first
  </button>
  <template x-teleport="#x-teleport-target">
    <div
      class="fixed inset-0 z-[100] flex flex-col items-center justify-center overflow-hidden px-4 py-6 sm:px-5"
      x-show="firstzoommodal"
      role="dialog"
      @keydown.window.escape="firstzoommodal = false"
    >
      <div
        class="absolute inset-0 bg-slate-900/60 transition-opacity duration-300"
        @click="firstzoommodal = false"
        x-show="firstzoommodal"
        x-transition:enter="ease-out"
        x-transition:enter-start="opacity-0"
        x-transition:enter-end="opacity-100"
        x-transition:leave="ease-in"
        x-transition:leave-start="opacity-100"
        x-transition:leave-end="opacity-0"
      ></div>
      <div
        class="relative max-w-lg rounded-lg bg-white px-4 py-10 text-center transition-opacity duration-300 dark:bg-navy-700 sm:px-5"
        x-show="firstzoommodal"
        x-transition:enter="easy-out"
        x-transition:enter-start="opacity-0 [transform:translate3d(0,-1rem,0)]"
        x-transition:enter-end="opacity-100 [transform:translate3d(0,0,0)]"
        x-transition:leave="easy-in"
        x-transition:leave-start="opacity-100 [transform:translate3d(0,0,0)]"
        x-transition:leave-end="opacity-0 [transform:translate3d(0,-1rem,0)]"
      >
  
       <div class="w-full flex justify-center items-center">
        <div
        class="mt-2 flex justify-center items-center p-2 w-20 h-20 rounded-full bg-warning/10"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-exclamation-octagon-fill text-warning"
          viewBox="0 0 16 16"
        >
          <path
            d="M11.46.146A.5.5 0 0 0 11.107 0H4.893a.5.5 0 0 0-.353.146L.146 4.54A.5.5 0 0 0 0 4.893v6.214a.5.5 0 0 0 .146.353l4.394 4.394a.5.5 0 0 0 .353.146h6.214a.5.5 0 0 0 .353-.146l4.394-4.394a.5.5 0 0 0 .146-.353V4.893a.5.5 0 0 0-.146-.353zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4m.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2"
          />
        </svg>
      </div>
       </div>
        <div class="mt-4 text-[13px] text-black-cus px-4">
          <p class="mt-2 ">
            Kindly note that backing up a file might take some time depending on how large the file size is 
            <p class="mt-2">As such you will be required not to close your browser tab while a backup process is running</p>
          </p>
        </div>
        <button
        @click="firstzoommodal = false"
        class="mt-4 btn w-1/2 bg-warning/10 font-medium text-warning hover:bg-warning/20 focus:bg-warning/20 active:bg-warning/25"
      >
        Noted
      </button>
      </div>
  
    </div>
  </template>
</div>
<section class="keep_script"></section>
<script>
  window.zoomError = "no message";
  localStorage.setItem("backupInProgress", "<%= data.backup_in_progress %>");
  window.backupInProgress = "<%= data.backup_in_progress %>";
</script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../js/loading.js"></script>
<script src="../js/dash/zoom.js" defer></script>
<script src="../js/dash/preferredBackup.js" defer></script>
