<div>
  <div class="mt-4 flex items-center justify-center gap-4 px-[var(--margin-x)] transition-all duration-[.25s] sm:mt-5" style="height:85vh;">
    <div class="p-5 grid border w-full card h-fit">
      <div> Create a zoom meet</div>
      <div>

        <button class="btn mt-2 space-x-2 bg-primary font-medium text-white hover:bg-primary-focus hover:shadow-sm hover:shadow-primary/50 focus:bg-primary-focus focus:shadow-sm focus:shadow-primary/50 active:bg-primary-focus/90 dark:bg-accent dark:hover:bg-accent-focus dark:hover:shadow-accent/50 dark:focus:bg-accent-focus dark:focus:shadow-accent/50 dark:active:bg-accent/90">
            <i class="bi bi-plus-lg"></i>
          <span>Start meet</span>
        </button>
      </div>
    </div>
  </div>
</div>


<script src="../js/loading.js"></script>
<script src="../js/dash/plan.js"></script>