<div class="max-w-2xl md:w-[600px] card shadow-none p-4 mt-5">
  <div>
    <h2
      x-text="jsonData.otherData.page_name"
      x-bind:class="'uppercase'"
      class="FORM_HEADER uppercase text-3xl"
    >
      TYPE FORM ELEMENT
    </h2>
    <template x-for="(OD, OD_arr) in Object.entries(jsonData.otherData)">
      <div x-text="OD[1]" :class="OD[0]" class="hidden"></div>
    </template>
  </div>
</div>
