<div class="max-w-2xl md:w-[600px] card border p-4 mt-5">
    <div>
      <h3 x-text="jsonData.otherData.page_name">TYPE FORM ELEMENT</h3>

      <template x-for="(OD, OD_arr) in Object.entries(jsonData.otherData)">
        <div x-text="OD[1]" :class="OD[0]" class="hidden"></div>
      </template>

    </div>
  </div>