<div>
    <h3 x-text="pageData[1][0].header[0].page_header" class=" text-3xl">Your Form Preview</h3>
    <h6 x-text="(pageData[1][0].header[0].page_description).charAt(0).toUpperCase() + (pageData[1][0].header[0].page_description).slice(1)" class=" text-sm">Your Form Preview</h6>
    <h3 x-text="pageKey" class="hidden"></h3>
</div>
<br>