

            <div class="card convertToDoc text-left">
                <div style=" padding: 10px; color: #000;">
                    <h1 x-text="jsonData.otherData.page_name" style="font-size: 24pt ; font-weight :800; padding:5px 0; ">Form Title</h1>
                    <hr>
                    <div style="margin-top: 10px; margin-bottom: 10px; font-weight:300;">
                        <h3 x-text="pageData[1][0].header[0].page_header" style="font-size: 20pt ; color: #333; font-family: Arial, sans-serif;">Page Title</h3>
                        
                        <p  x-text="(pageData[1][0].header[0].page_description).charAt(0).toUpperCase() + (pageData[1][0].header[0].page_description).slice(1)" style="font-size: 11pt; font-family: Arial, sans-serif; color:rgb(69, 69, 69); ">Page Description</p>
                    </div>
                
                    <div class="show_fields">

                    </div>
                
                </div>
               
            </div>
            <button id="downloadToDoc" @click="downloadDoc">Download</button>
