<div class="relative">
  <br />
  <br />
  <div class="relative grid grid-cols-10 w-full h-auto gap-1 sm:gap-2">
    <div class="h-fit col-span-12 sm:col-span-2 md:col-span-2">
      <div class="flex flex-row space-x-2">
        <svg
          fill="none"
          stroke="currentColor"
          stroke-width="1.7"
          class="w-5 h-5 col-span-1"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          x-tooltip.placement.right.interactive.content="'#content4'"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
          ></path>
        </svg>
        <template id="content4">
          <div
            class="flex rounded-lg bg-black bg-opacity-50 text-xs backdrop-blur-md text-slate-100 p-3 w-fit dark:bg-navy-500 max-w-[150px]"
          >
            <p>
              Use this text to explain to users how to upload files. This text
              will display inside the dropzone.
            </p>
          </div>
        </template>
        <p>Dropzone text</p>
      </div>
    </div>
    <div class="h-fit col-span-12 sm:col-span-8 md:col-span-8 mt-0 sm:mt-2">
      <textarea
        rows="3"
        name="drop_zone"
        placeholder="E.g Drop your files here or click to choose your files"
        class="drop_zone form-textarea w-full resize-none rounded-lg border border-slate-300 bg-transparent p-2.5 placeholder:font-light hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:bg-transparent dark:hover:border-navy-400 dark:focus:border-accent"
      ></textarea>
    </div>
  </div>

  <br />

  <div class="grid grid-cols-10 gap-1 sm:gap-2">
    <div class="h-fit col-span-12 sm:col-span-2 md:col-span-2">
      <div class="flex flex-row space-x-2">
        <svg
          fill="none"
          stroke="currentColor"
          stroke-width="1.7"
          class="w-5 h-5 col-span-1"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          x-tooltip.placement.right.interactive.content="'#content5'"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
          ></path>
        </svg>
        <template id="content5">
          <div
            class="flex rounded-lg bg-black bg-opacity-50 text-xs backdrop-blur-md text-slate-100 p-3 w-fit dark:bg-navy-500 max-w-[150px]"
          >
            <p>
              Use this text to thank respondents on the upload confirmation
              page. You can use HTML.
            </p>
          </div>
        </template>
        <p>Success page text</p>
      </div>
    </div>

    <div
      x-data="{ quillContent: $store.quillContent }"
      x-init="$store.quillContent = null"
      class="ql-header-filled col-span-12 sm:col-span-8 md:col-span-8 mt-0 sm:mt-2"
    >
      <div
        class="h-48"
        x-init="() => {
                let quill = new Quill($el, {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ header: [1, 2, 3, 4, 5, 6, false] }],
                            [{ color: [] }, { background: [] }],
                            ['clean'],
                        ]
                    },
                    placeholder: 'Enter your thank you text after submition...',
                    theme: 'snow',
                });
    
                quill.on('text-change', function() {
                    // Update the global store 'quillContent'
                    Alpine.store('quillContent', quill.root.innerHTML);
                });
            }"
      ></div>

      <!-- Display the current content -- -->
      <div
        x-text="decodeURIComponent($store.quillContent)"
        contenteditable="true"
        class="hidden success_page_text"
      ></div>
      <!-- Display the current content -->
      <div
        class="dat hidden"
        x-text="encodeURIComponent($store.quillContent)"
      ></div>
    </div>
  </div>
  <br />

  <div class="grid grid-cols-10 gap-1 sm:gap-2">
    <div class="h-fit col-span-12 sm:col-span-2 md:col-span-2">
      <div class="flex flex-row space-x-2">
        <svg
          fill="none"
          stroke="currentColor"
          stroke-width="1.7"
          class="w-5 h-5 col-span-1"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          x-tooltip.placement.right.interactive.content="'#content6'"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"
          ></path>
        </svg>
        <template id="content6">
          <div
            class="flex rounded-lg bg-black bg-opacity-50 text-xs backdrop-blur-md text-slate-100 p-3 w-fit dark:bg-navy-500 max-w-[150px]"
          >
            <p>
              Show this text when there is an error uploading files. You can use
              HTML.
            </p>
          </div>
        </template>
        <p>Error page text</p>
      </div>
    </div>

    <div
      x-data="{ quillContent2: $store.quillContent2 }"
      x-init="$store.quillContent2 = null"
      class="ql-header-filled col-span-12 sm:col-span-8 md:col-span-8 mt-0 sm:mt-2"
    >
      <div
        class="h-48"
        x-init="() => {
                let quill = new Quill($el, {
                    modules: {
                        toolbar: [
                            ['bold', 'italic', 'underline', 'strike'],
                            ['blockquote', 'code-block'],
                            [{ header: [1, 2, 3, 4, 5, 6, false] }],
                            [{ color: [] }, { background: [] }],
                            ['clean'],
                        ]
                    },
                    placeholder: 'Enter text for uploading file error...',
                    theme: 'snow',
                });
    
                quill.on('text-change', function() {
                    // Update the global store 'quillContent2'
                    Alpine.store('quillContent2', quill.root.innerHTML);
                });
            }"
      ></div>

      <!-- -- Display the current content -- -->
      <div
        class="error_page_text hidden"
        x-text="decodeURIComponent($store.quillContent2)"
        contenteditable="true"
      ></div>
      <!-- -- Display the current content -- -->
      <div
        class="hidden"
        x-text="encodeURIComponent($store.quillContent2)"
      ></div>
    </div>
  </div>
</div>
