<div>
    <div class="flex space-x-4 mt-4">
        <div class="flex-initial w-[10%] flex items-center justify-center">
          <svg fill="none" stroke="currentColor" stroke-width="1.7" class="w-6 h-6 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
          </svg>        
        </div>
        <div class="flex-grow w-full ">
          <span class="w-[20%] ">Page Name <span class="text-red-400">*</span> </span>
          <input class="form-input border w-[70%] md:w-[80%] rounded-lg border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" placeholder="Username" type="text" />
        </div>
      </div>
      <div class=" flex space-x-4 mt-4">
        <div class="flex-initial w-[10%] flex items-center justify-center">
          <svg fill="none" stroke="currentColor" stroke-width="1.7" class="w-6 h-6 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
          </svg>
        </div>
        <div class="flex-grow w-full ">
          <div class="flex -space-x-pxr">
            <span class="w-fit flex justify-left items-center">Page URL <span class="text-red-400">*</span> </span>
            <div class="w-fit border ml-1 flex items-center justify-left rounded-l-lg border-slate-300 px-3.5 font-inter dark:border-navy-450">
              <span class="">speedlink.com/page/</span>
            </div>
            <input class="form-input w-[40%] md:w-[40%] rounded-r-lg border border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:z-10 hover:border-slate-400 focus:z-10 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" placeholder="Username" type="text" />
          </div>
        </div>
      </div>
      <div class=" flex space-x-4 mt-4">
        <div class="flex-initial w-[10%] flex items-center justify-center">
          <svg fill="none" stroke="currentColor" stroke-width="1.7" class="w-6 h-6 " viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z"></path>
          </svg>
        </div>
        <div class="flex-grow w-full ">
          <span class="w-[20%]">Shareable link <span class="text-red-400">*</span> </span>
          <input class="form-input border w-[70%] md:w-[80%] rounded-lg border-slate-300 bg-transparent px-3 py-2 placeholder:text-slate-400/70 hover:border-slate-400 focus:border-primary dark:border-navy-450 dark:hover:border-navy-400 dark:focus:border-accent" placeholder="Username" type="text" />
        </div>
      </div>
</div>