<!-- Page Wrapper -->
<div
  id="root"
  class="min-h-100vh flex grow bg-slate-50 dark:bg-navy-900"
  x-cloak
>
<div class="fixed top-0 hidden px-6 py-4 lg:block lg:px-12 z-50">
  <a href="#" class="flex items-center space-x-2">
    <img class="h-12 w-12" src="../images/sim/Icon PNG2.png" alt="logo" />
    <p class="text-xl font-semibold uppercase text-white dark:text-navy-100">
      Blazzing Share
    </p>
  </a>
</div>
<div class="hidden w-full place-items-center lg:grid">
  <div class="w-full max-w-full h- bg-red-500 relative">
    <img
      class="w-full object-cover h-screen relative"
      src="../images/sim/auth-image.jpg"
      alt="image"
    />
    <div
      class="w-full max-w-full bg-[#00363D] bg-opacity-60 h-screen absolute top-0 left-0 right-0"
    ></div>

    <div
      class="min-h-[70px] h-auto absolute top-[50%] mt-[-45px] text-white w-full margin-auto"
    >
      <div
        class="flex min-h-[70px] left-5 h-auto relative w-[50%] margin-auto text-[35px] font-bold"
      >
        <p class="h-2 w-14 bg-white mt-5"></p>
        <p class="ml-2">Start your journey now.</p>
      </div>
      <div
        class="mt-2 min-h-[70px] left-5 h-auto relative w-[60%] margin-auto text-[20px] font-light"
      >
        Start creating your seamless surveys and sharing your files without
        hassles.
      </div>
    </div>
  </div>
</div>
  <main
    class="flex w-full flex-col items-center bg-white dark:bg-navy-700 lg:max-w-md"
  >
    <div
      class="relative flex w-full max-w-sm grow flex-col justify-center p-5 bg-red-"
    >
      <div
        class="text-center md:relative md:h-fit top-5 md:top-3 lg:top-2 left-0 right-0"
      >
        <img
          class="mx-auto h-16 w-16 lg:hidden"
          src="../images/sim/icon PNG2.png"
          alt="logo"
        />
        <div class="md:mt-0 mt-3 right-0 left-0 top-0 px-2">
          <h2
            class="text-xl font-semibold capitalize text-black dark:text-navy-100"
          >
          <% if (error != null) {%>
            expired link
            <% }else{ %>
              Activate your account
            <% } %>
          </h2>
            <% if (error != null) {%>
              <div class="my-5 bg-error/10 text-error dark:bg-error/15 dark:text-error rounded p-2"> 
                Activation token has expired, kindly <a  style="outline:underline" class="underline text-red-500" href="<%= baseUrl %>/auth">signup</a> again.
              </div>
            <% } else{%>
              <p class="text-sm mt-1 text-black">
                Click the link in the message sent to the email address you provided
                during sign up to activate your account.
              </p>
              <p class="mt-2 text-sim text-sm"></p>
                If you do not find this link in your email , Kindly check your spam
                folder
              </p>
              <% } %>
        </div>
      </div>
    </div>
  </main>
</div>
