<!-- Page Wrapper -->
<div
  id="root"
  class="poppins min-h-100vh flex grow bg-slate-50 dark:bg-navy-900"
  x-cloak
>
  <div class="fixed top-0 hidden px-6 py-4 lg:block lg:px-12 z-50">
    <a href="#" class="flex items-center space-x-2">
      <img class="h-12 w-12" src="../images/sim/Icon PNG2.png" alt="logo" />
      <p class="text-xl font-semibold uppercase text-white dark:text-navy-100">
        Blazzing Share
      </p>
    </a>
  </div>
  <div class="hidden w-full place-items-center lg:grid">
    <div class="w-full max-w-full h- bg-red-500 relative">
      <img
        class="w-full object-cover h-screen relative"
        src="../images/sim/auth-image.jpg"
        alt="image"
      />
      <div
        class="w-full max-w-full bg-[#00363D] bg-opacity-60 h-screen absolute top-0 left-0 right-0"
      ></div>

      <div
        class="min-h-[70px] h-auto absolute top-[50%] mt-[-45px] text-white w-full margin-auto"
      >
        <div
          class="flex min-h-[70px] left-5 h-auto relative w-[50%] margin-auto text-[35px] font-bold"
        >
          <p class="h-2 w-14 bg-white mt-5"></p>
          <p class="ml-2">Start your journey now.</p>
        </div>
        <div
          class="mt-2 min-h-[70px] left-5 h-auto relative w-[60%] margin-auto text-[20px] font-light"
        >
          Start creating your seamless surveys and sharing your files without
          hassles.
        </div>
      </div>
    </div>
  </div>
  <main
    class="flex w-full flex-col items-center bg-white dark:bg-navy-700 lg:max-w-md"
  >
    <div
      class="relative flex w-full max-w-sm grow flex-col justify-center p-5 bg-red-"
    >
      <img
        class="mx-auto mt-[-200px] h-16 w-16 lg:"
        src="../images/sim/icon PNG2.png"
        alt="logo"
      />
      <br />
      <div
        class="text-center bg-yellow- md:relative md:h-fit absolute top- left-0 right-0"
      >
        <div class="md:mt-0 mt-3 right-0 left-0 top-0 px-2">
          <h2
            class="text-xl font-semibold capitalize text-sim dark:text-navy-100"
          >
            Password Reset Link
          </h2>
          <span
            >A password reset link has been sent to your email address
            associated with this platform, kindly click it to reset your
            password</span
          >
        </div>
      </div>

      <br />

      <div
        id="forgot_success"
        class="forgot_success bg-success/10 p-4 text-success border border-success w-full h-fit rounded-lg text-xs"
        style="display: none"
      ></div>

      <div class="flex text-center mt-4 justify-center">
        <span id="resend_btn" class="text-braand mr-1 cursor-pointer"
          >Resend</span
        >
        in <span class="ml-1" id="countdown"></span>
      </div>
    </div>
  </main>
</div>
